.refs
.out
data
.venv
.env.local
__pycache__/
*.pyc
pa1/report/.out/*
!pa1/report/.out/.gitkeep
pa2/extraction-db/*.dump
*.aux
*.fdb_latexmk
*.fls
*.log
*.fls
pa2/report/*.out
!pa2/report/report.pdf
Preferential crawling.ipynb
Remote crawler database (client).ipynb
Remote crawler database (server).ipynb
Web crawling - basic tools.ipynb
ManagerApp/bin
ManagerApp/obj
.github
pa1/db